<!--Notifications-->
<p-toast></p-toast>
<!--Form-->
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="loginForm" (ngSubmit)="login()">
                <h1>Bienvenido</h1>
                <p class="text-medium-emphasis">Sistema de facturaci&oacute;n e inventario</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <em class="fa-solid fa-user-shield"></em>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Usuario" formControlName="name"/>
                  <c-form-feedback [valid]="false">El nombre de usuario es obligatorio</c-form-feedback>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <em class="fa-solid fa-key"></em>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                  />
                  <span cInputGroupText id="show-hide"><em (click)="showHidePassword()"
                                            [pTooltip]="showPassword ? 'Ocultar password' : 'Ver password'"
                                            tooltipPosition="top"
                                            [class]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
                                            id="show-hide-icon"></em></span>
                  <c-form-feedback [valid]="false">El password es obligatorio</c-form-feedback>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit" [disabled]="loginForm.invalid">
                      Ingresar
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44, 'background-color': '#24325e'}" class="text-white py-5">
            <c-card-body class="d-flex justify-content-center align-items-center">
              <img
                src="./assets/img/brand/logo.jpeg"
                width="75%"
                alt="Scandalos Boutique"
              >
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
