<p-dialog [header]="modalTitle()" [(visible)]="isModalVisible" [modal]="true" [style]="{width: '60vw'}" [breakpoints]="{'960px': '90vw'}">
  <form [formGroup]="customerForm" (ngSubmit)="onSaveChanges()" class="p-fluid">
    <div class="grid pt-3">
      <div class="col-12 md:col-6 field"><label class="font-bold">Nombre completo*</label><input pInputText formControlName="name" /></div>
      <div class="col-12 md:col-6 field"><label class="font-bold">Negocio / Alias</label><input pInputText formControlName="businessName" /></div>
      <div class="col-12 md:col-4 field"><label class="font-bold">Departamento*</label><p-select [options]="states()" formControlName="departmentAddress" optionLabel="state" optionValue="state"></p-select></div>
      <div class="col-12 md:col-4 field"><label class="font-bold">Municipio*</label><p-select [options]="cities()" formControlName="municipality" optionLabel="city" optionValue="city"></p-select></div>
      <div class="col-12 md:col-4 field"><label class="font-bold">Dirección*</label><input pInputText formControlName="address" /></div>
      <div class="col-12 md:col-8 field"><label class="font-bold">Giro / Actividad</label>
        <p-autoComplete formControlName="codeActivitie" [suggestions]="filteredCodeActivities()" (completeMethod)="filterCodeActivity($event)" field="displayField" (onSelect)="onSelectActivity($event)"></p-autoComplete></div>
      <div class="col-12 md:col-4 field flex align-items-center justify-content-between pt-4">
        <div class="flex flex-column gap-2"><label class="font-bold text-sm">Retención (1%)</label><p-toggleswitch formControlName="isRetentionTax"></p-toggleswitch></div>
        <div class="flex flex-column gap-2"><label class="font-bold text-sm">Gran Contribuyente</label><p-toggleswitch formControlName="IsMajorTaxpayer"></p-toggleswitch></div>
      </div>
    </div>
    <div class="flex justify-content-end gap-2 pt-4 border-top-1 border-gray-200 mt-4">
      <p-button label="Cancelar" severity="secondary" [text]="true" (onClick)="isModalVisible.set(false)"></p-button>
      <p-button label="Guardar" severity="primary" type="submit" [disabled]="customerForm.invalid"></p-button>
    </div>
  </form>
</p-dialog>
