<!--Notifications-->
<p-toast></p-toast>
<!--Reports-->
<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <em class="fa-solid fa-cash-register"></em> <strong>Control de efectivo</strong>
      </c-card-header>
      <c-card-body>
        <c-row class="mb-3" [formGroup]="searchForm">
          <label [sm]="1" cCol cLabel="col" for="location">Localidad:</label>
          <c-col [sm]="3">
            <select sizing="sm" aria-label="Localidad habitual" cSelect formControlName="location" >
              <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
            </select>
          </c-col>
          
          <c-col [sm]="2" class="d-grid gap-2">
            <button cButton class="block" color="dark" pTooltip="Realizar búsqueda" tooltipPosition="left"
                    (click)="search()" [disabled]="loading">
              Buscar <em class="fa-solid fa-search"></em>
            </button>
          </c-col>
          
          
        </c-row>
        <c-row class="mb-3" *ngIf="!isCloseTransactionActive">
          <p-table #dtCurrent
                   [loading]="loading"
                   [value]="transactions"
                   [rowHover]="true"
                   [paginator]="true"
                   [rows]="10"
                   [showCurrentPageReport]="true"
                   [rowsPerPageOptions]="[10,25,50]"
                   currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
                   dataKey="id"
                   responsiveLayout="scroll"
                   sortField="id"
                   [sortOrder]="-1"
                   styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                   [globalFilterFields]="['user_name','location_name','status_balance']"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <button cButton color="dark" pTooltip="Permite abrir caja" tooltipPosition="right"
                        (click)="toggleModal()">
                  <em class="fa-solid fa-box-open"></em> Abrir caja
                </button>
               
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"
                           (input)="dtCurrent.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Buscar"/>
                </span>
              </div>
            </ng-template>
           
            <ng-template pTemplate="header">
              <tr>
                <th scope="col" class="text-center">Opciones</th>
                <th scope="col" class="text-center" pSortableColumn="start_date">Inició
                  <p-sortIcon field="start_date"></p-sortIcon>
                </th>
                <th scope="col" class="text-center" pSortableColumn="start_balance">Monto inicial
                  <p-sortIcon field="start_balance"></p-sortIcon>
                </th>
                <th scope="col" class="text-center" pSortableColumn="end_date">Finalizó
                  <p-sortIcon field="end_date"></p-sortIcon>
                </th>
                <th scope="col" class="text-center" pSortableColumn="end_balance">Monto final
                  <p-sortIcon field="end_balance"></p-sortIcon>
                </th>
                <th scope="col" class="text-center" pSortableColumn="user_id">Usuario
                  <p-sortIcon field="user_name"></p-sortIcon>
                </th>
                <th scope="col" class="text-center" pSortableColumn="location_id">Localidad
                  <p-sortIcon field="location_name"></p-sortIcon>
                </th>
                <th scope="col" class="text-center" pSortableColumn="status_balance">Estado
                  <p-sortIcon field="status_balance"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
              <tr>
                <td class="text-center">
                  <span *ngIf="!isTransactionOpen(transaction);else buttons">N/A</span>
                  <ng-template #buttons>
                    <button cButton color="warning" size="sm" pTooltip="Cerrar caja" tooltipPosition="bottom"
                            (click)="closeTransaction(transaction)"><em class="fa-solid fa-box"></em></button>
                    <button cButton color="danger" size="sm" pTooltip="Desactivar operación" tooltipPosition="right"
                            (click)="inactiveTransaction(transaction)"><em class="fa-solid fa-trash"></em></button>
                  </ng-template>
                </td>
                <td
                  class="text-center">{{utilitiesService.formatDate(transaction.start_date, 'DD/MM/YYYY hh:mm:ss A')}}</td>
                <td class="text-center">{{transaction.start_balance | currency}}</td>
                <td
                  class="text-center">{{isTransactionFinished(transaction) ? utilitiesService.formatDate(transaction.end_date, 'DD/MM/YYYY  hh:mm:ss A') : 'N/A'}}</td>
                <td
                  class="text-center">{{isTransactionFinished(transaction) ? (transaction.end_balance | currency) : 'N/A'}}</td>
                <td class="text-center">{{transaction.user_name}}</td>
                <td class="text-center">{{transaction.location_name}}</td>
                <td class="text-center">{{transaction.status_balance}}</td>
              </tr>
            </ng-template>
           
          </p-table>
        </c-row>
        <c-row class="mb-3" *ngIf="isCloseTransactionActive">
          
          <form cForm [formGroup]="closeTransactionForm">
            <c-row class="mb-3">
              <c-col [sm]="2">
                <button cButton color="dark" (click)="returnTransactionsList()" pTooltip="Regresar al historico de transacciones"
                        tooltipPosition="right">
                  <em class="fa-solid fa-arrow-left"></em> Regresar
                </button>
              </c-col>
            </c-row>
            <c-row class="mb-3 p-4">
              <c-col [sm]="6" class="py-2">
                <label cCol cLabel="col" sizing="sm"><b>TOTAL CIERRE: $ {{ this.calculateTotalBalance() }}</b></label>
              </c-col>
            </c-row>
            <c-row class="mb-3 p-4">
              <c-col [sm]="4" class="text-center">
                <label cCol cLabel="col" sizing="sm"><b>Denominación:</b></label>
              </c-col>
              <c-col [sm]="4" class="text-center">
                <label cCol cLabel="col" sizing="sm"><b>Cantidad:</b></label>
              </c-col>
              <c-col [sm]="4" class="text-center">
                <label cCol cLabel="col" sizing="sm"><b>Monto:</b></label>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$0.01"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="one_cent_quantity" (blur)="calculateAmount($event, 0.01, 'one_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="one_cent_amount" (blur)="calculateQuantity($event, 0.01, 'one_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$0.05"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="five_cent_quantity" (blur)="calculateAmount($event, 0.05, 'five_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="five_cent_amount" (blur)="calculateQuantity($event, 0.05, 'five_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$0.10"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="ten_cent_quantity" (blur)="calculateAmount($event, 0.1, 'ten_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="ten_cent_amount" (blur)="calculateQuantity($event, 0.1, 'ten_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$0.25"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="twenty_five_cent_quantity" (blur)="calculateAmount($event, 0.25, 'twenty_five_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="twenty_five_cent_amount" (blur)="calculateQuantity($event, 0.25, 'twenty_five_cent')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$1.00"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="one_dollar_quantity" (blur)="calculateAmount($event, 1, 'one_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="one_dollar_amount" (blur)="calculateQuantity($event, 1, 'one_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$2.00"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="two_dollar_quantity" (blur)="calculateAmount($event, 2, 'two_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="two_dollar_amount" (blur)="calculateQuantity($event, 2, 'two_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$5.00"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="five_dollar_quantity" (blur)="calculateAmount($event, 5, 'five_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="five_dollar_amount" (blur)="calculateQuantity($event, 5, 'five_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$10.00"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="ten_dollar_quantity" (blur)="calculateAmount($event, 10, 'ten_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="ten_dollar_amount" (blur)="calculateQuantity($event, 10, 'ten_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$20.00"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="twenty_dollar_quantity" (blur)="calculateAmount($event, 20, 'twenty_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="twenty_dollar_amount" (blur)="calculateQuantity($event, 20, 'twenty_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$50.00"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="fifty_dollar_quantity" (blur)="calculateAmount($event, 50, 'fifty_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="fifty_dollar_amount" (blur)="calculateQuantity($event, 50, 'fifty_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="$100.00"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="one_hundred_dollar_quantity" (blur)="calculateAmount($event, 100, 'one_hundred_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="one_hundred_dollar_amount" (blur)="calculateQuantity($event, 100, 'one_hundred_dollar')"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="Cheque"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="cheque_quantity"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="cheque_amount"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="Transferencia bancaria"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="transfer_bank_quantity"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="transfer_bank_amount"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="Tarjeta de credito/debito"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="pos_quantity"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="pos_amount"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="text" readonly value="Link de pago"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="1" formControlName="link_pay_quantity"/>
              </c-col>
              <c-col [sm]="4" class="py-2">
                <input cFormControl type="number" step="0.01" formControlName="link_pay_amount"/>
              </c-col>
              <c-col [sm]="6" class="py-2">
                <label cCol cLabel="col" sizing="sm" for="comment">Comentarios:</label>
                <textarea cFormControl sizing="sm" id="comment" type="text"
                          placeholder="Ingrese los comentarios"
                          formControlName="comment" rows="3"
                          pTooltip="Comentarios sobre cierre de caja" tooltipPosition="bottom"
                          style="resize: none;"></textarea>
                <c-form-feedback [valid]="false">Los comentarios son obligatorios</c-form-feedback>
              </c-col>
              
              <c-col class="d-grid gap-2 d-md-flex justify-content-md-end py-2" *ngIf="isValidToClose()">
                <button cButton color="primary" (click)="completeTransaction()" pTooltip="Cerrar caja actual"
                        tooltipPosition="left" id="btn-complete-transaction">
                  <em class="fa-solid fa-box"></em> Cerrar caja
                </button>
              </c-col>
            </c-row>
          </form>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<!--Modal to start transaction-->
<c-modal alignment="center" [visible]="isModalVisible" (visibleChange)="handleModalChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Abrir caja</h5>
    <button cButtonClose (click)="toggleModal()"></button>
  </c-modal-header>
  <c-modal-body [formGroup]="initialTransactionForm">
    <c-row class="mb-3">
      <label [sm]="3" cCol sizing="sm" cLabel="col">Localidad*:</label>
      <c-col [sm]="9">
        <select sizing="sm" aria-label="Localidad habitual" cSelect formControlName="location" (change)="isFirstTimeToOpen()">
          <option *ngFor="let location of locations" [ngValue]="location">{{location.name}}</option>
        </select>
        <c-form-feedback [valid]="false">La localidad es obligatoria</c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-3" *ngIf="isFirstTime">
      <label [sm]="3" cCol sizing="sm" cLabel="col">Monto inicial*:</label>
      <c-col [sm]="9">
        <input cFormControl type="number" step="0.01" min="0" placeholder="Monto inicial de caja" formControlName="start_balance"/>
        <c-form-feedback [valid]="false">El monto inicial es obligatorio</c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-3">
      <label [sm]="3" cCol cLabel="col" for="password">Password:</label>
      <c-col [sm]="9">
        <input cFormControl id="password" type="password" placeholder="Password" formControlName="password"/>
        <c-form-feedback [valid]="false">El password es obligatorio</c-form-feedback>
      </c-col>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="toggleModal()"><em class="fa-solid fa-xmark"></em> Cerrar</button>
    <button cButton color="primary" type="submit" [disabled]="initialTransactionForm.invalid"
            (click)="openTransaction()"><em
      class="fa-solid fa-box-open"></em> Abrir
    </button>
  </c-modal-footer>
</c-modal>
