<p-dialog [header]="modalTitle()" [(visible)]="isModalVisible" [modal]="true" [style]="{width: '70vw'}" (onHide)="handleModalChange(false)">
  <form [formGroup]="productForm" (ngSubmit)="onSaveChanges()" class="p-fluid">
    <div class="grid pt-3">
      <div class="col-12 md:col-8 field"><label class="font-bold">Descripción del Producto*</label><input pInputText formControlName="description" /></div>
      <div class="col-12 md:col-4 field"><label class="font-bold">Código de Barras</label><input pInputText formControlName="barcode" /></div>
      <div class="col-12 md:col-4 field"><label class="font-bold">Proveedor*</label><p-select [options]="providers()" formControlName="provider_id" optionLabel="tradename" [filter]="true"></p-select></div>
      <div class="col-12 md:col-4 field"><label class="font-bold">Categoría*</label><p-select [options]="categories()" formControlName="category_id" optionLabel="name" [filter]="true"></p-select></div>
      <div class="col-12 md:col-4 field"><label class="font-bold">Localidad*</label><p-select [options]="locations()" formControlName="location_id" optionLabel="name"></p-select></div>
      <div class="col-12 md:col-3 field"><label class="font-bold">Precio de Venta*</label><p-inputNumber formControlName="sale_price" mode="currency" currency="USD"></p-inputNumber></div>
      <div class="col-12 md:col-3 field"><label class="font-bold">Stock Actual</label><p-inputNumber formControlName="stock"></p-inputNumber></div>
      <div class="col-12 md:col-3 field"><label class="font-bold">Stock Mínimo*</label><p-inputNumber formControlName="minimum_stock"></p-inputNumber></div>
      <div class="col-12 md:col-3 flex align-items-center gap-2 pt-3"><label class="font-bold text-sm">Exento</label><p-toggleswitch formControlName="is_exempt_product"></p-toggleswitch></div>
    </div>
    <div class="flex justify-content-end gap-2 pt-4 border-top-1 border-gray-200 mt-4">
      <p-button label="Cancelar" severity="secondary" [text]="true" (onClick)="handleModalChange(false)"></p-button>
      <p-button label="Guardar" severity="primary" type="submit" [disabled]="productForm.invalid"></p-button>
    </div>
  </form>
</p-dialog>
